<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= shoe.name %></title>
</head>
<body>
    <h1><%= shoe.name %></h1>
    <h2>Sneaker Description</h2>
    <ul>
        <li><strong>Release Date:</strong> <%= shoe.formattedDate %></li>
        <li><strong>Retail Price:</strong> <%= shoe.retailPrice %></li>
        <li><strong>Brand:</strong> <%= shoe.brand %></li>
    </ul>
    <!-- views/index.ejs -->
    <a href="/shoes/<%= shoe._id %>/edit">Edit <%= shoe.name %></a>
    <a href="/shoes">Browse Sneakers</a>
    <div>
        <form action="/shoes/<%= shoe._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete <%= shoe.name %></button>
        </form>
    </div>
</body>
</html>